#                                                      Assignment_2 (Python)
        
## 1- Write a Python program to add an item to a tuple.

In [2]:
A = ( 1 , "One" , 2 , "Two" )
B = ( 3 , "Three" , 4 , "Four" )

C = A + B
print(C)

(1, 'One', 2, 'Two', 3, 'Three', 4, 'Four')

## 2. Write a Python program to sum all the items in a list.

In [9]:
D = [1 , 2 , 3 , 4]
print(f"The sum of the list is: {sum(D)} ")

The sum of the list is: 10

## 3. Write a Python program to multiply all the items in a list.

In [68]:
E = [1 , 2 , 3 ,4]
result = 1 ## don't forget to make it starts with 1 not 0 ya yahia
for F in E:
    result *= F

print(f"The multiply is {result}")

The multiply is 24

## 4. Write a Python program to get the smallest number from a list.

In [11]:
A = [ 5 , 7 , 3 , 1 , 4 , 8]
small = A[0]
for B in A:
    if B < small:
        small = B    
print(small)

1

## 5. Write a Python program to get the largest number from a list.

In [12]:
A = [ 5 , 7 , 3 , 1 , 4 , 8]
large = A[0]
for B in A:
    if B > large:
        large = B    
print(large)

8

## 6. Write a Python program to count the number of strings from a given list of strings.

In [16]:
H = ["one","two","three","four","five","six"]
number_of_strings = len(H)
print(f"the number of strings is {number_of_strings}")

the number of strings is 6

## 7. Write a Python program to clone or copy a list.

In [17]:
list1 = [ 1 , "one" , 2 , "two" , 3 , "amit"]
list2 = list1.copy()
print(list2)

[1, 'one', 2, 'two', 3, 'amit']

## 8. Write a Python program to remove item(s) from a given set.

In [42]:
set1 = { 1 , "one" , 2 , "two"}
set2 = { 1 , "two"}
set1_after_remove_item = set1 - set2

print(f"the new tuple after remove item is: {set1_after_remove_item}")

the new tuple after remove item is: {2, 'one'}

## 9. Write a Python program to check if a set is a subset of another set.

In [48]:
set3 = { 1 , 2 , 3 , 6 , 9 ,13}
set4 = { 1 , 2 }
if set4.issubset(set3):
    print("the set4 is a subset of set3")
else:
    print("the set4 isnot a subset of set3")

the set4 is a subset of set3

## 10. Write a Python program to remove all elements from a given set.

In [55]:
set6 = { 1 , 2 , 3 , 4}
set6.clear()

print(set6)

set()

## 11. Write a Python program to find the maximum and minimum values in a set.

In [58]:
set7 = { 4 , 2 , 5 , 1 , 7}
set8 = min(set7)
print(set8)

1

## 12. Write a Python program to find the index of an item in a tuple.

In [65]:
tuple1 = ( 1 , 2 , 4 , 5 , 6)
int1 = tuple1.index(4)
print(int1)

2

## 13. Write a Python program to convert a tuple to a dictionary.

In [69]:
tuple9 = ((1 , "one"),(2 , "two"),(3 , "three"))
print(f"the dictionary of this tuple is : {dict(tuple9)} ")

the dictionary of this tuple is : {1: 'one', 2: 'two', 3: 'three'}

## 14. Write a Python program to unzip a list of tuples into individual lists.

In [71]:
list_of_tuples = [(1,"one"),(2,"two"),(3,"three")]
ziplist = zip(list_of_tuples)
print(list(ziplist))

[((1, 'one'),), ((2, 'two'),), ((3, 'three'),)]

## 15. Write a Python program to reverse a tuple.

In [79]:
tuple10 = ( 1 , "one" , 2 , "two" , 3 , "three")
tuple11 = reversed(tuple10)
print(tuple(tuple11))

('three', 3, 'two', 2, 'one', 1)

## 16. Write a Python program to convert a list of tuples into a dictionary.

In [81]:
list6 = [(1 , "one"),(2 , "two"),(3 , "three")]
print(f"the dictionary of this list is : {dict(list6)} ")

the dictionary of this list is : {1: 'one', 2: 'two', 3: 'three'}

## 17. Write a Python program to replace the last value of tuples in a list.

In [94]:
tuple12 = ( 1 , 2 , 3 , 4 , (5,6) )
A = list(tuple12)
B = A[-1]
C = list(B)
print(C)

[5, 6]

## 18. Write a Python program to sort a tuple by its float element.

In [102]:
tuple13 = (1.0 , 2.0 , 3.0 , 8.0 , 5.0 , 4.0)
A = list(tuple13)
A.sort()
print(A)

[1.0, 2.0, 3.0, 4.0, 5.0, 8.0]